@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic);

html, body {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
}

* {
    font-family: "Roboto Condensed", Arial, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

#page-wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
}

html {
    background-image: url(../images/backs/ny_repeat_bg.jpg);
}

#page-wrapper {
    min-height: 100%;
}

#page-wrapper {
    background-image: url(../images/backs/layout_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
}

body {
    background-image: url(../images/backs/body_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}

body {
    color: #b2bbc0;
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 1.6;
    word-wrap: break-word;
}

/* Primary menu */

#primary-menu {
    background: #FF9700;
    height: 75px;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

#primary-menu::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -76px;
    border: 38px solid transparent;
    border-right-color: #FF9700;
    border-bottom-color: #FF9700;
}

#primary-menu::after {
    content: " ";
    position: absolute;
    top: -1px;
    right: -76px;
    border: 38px solid transparent;
    border-left-color: #FF9700;
    border-bottom-color: #FF9700;
}

#primary-menu > ul {
    padding: 0;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    text-align: center;
}

#primary-menu > ul > li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
}

#primary-menu > ul > li a {
    color: #fff;
    text-decoration: none;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    position: relative;
    color: #fff;
    z-index: 999;
}

#primary-menu > ul > li a:hover {
    color: #333;
}

#primary-menu > ul > li a::before {
    content: " ";
    position: absolute;
    left: -4px;
    top: -25px;
    width: 100%;
    height: 150px;
    transform: rotate(20deg);
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    opacity: 0;
}

#primary-menu > ul > li a:hover::before {
    opacity: 1;
}

/* Secondary menu */

#secondary-menu {
    background: #061727;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
    font-size: 18px;
}

#secondary-menu > ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 100px;
}

#secondary-menu > #logo {
    display: inline-block;
    width: 400px;
}

#secondary-menu > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

#secondary-menu > ul > #logo {
    width: 550px;
    position: relative;
}

#secondary-menu > ul > #logo > img {
    position: absolute;
    width: 500px;
    left: 35px;
    top: -40px;
}

#secondary-menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

#secondary-menu > ul > li > a:hover {
    color: #FF9700;
}

/*Database*/
.db1{
    text-align: center;
    padding:25px ;
    background-color: #10181B; 
    border: 1px solid #10181B; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.4), 0 0 0 rgba(0,0,0,0.4); 
}

.div {
    text-align: center;
}

.div>ul{
    width: 100%;   
}

.div>ul>#logodb{
    width: 50px;
    position: relative;
}

.div>ul>#logodb>img{
    position: absolute;
    width: 60px;
    left:65px;
    top: -35px;
}

.div>ul>#logodb1>img{
    position: absolute;
    width: 50px;
    left: 10px;
    top: -20px;
}

.div>ul>li{
    width: 100%;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    padding: 70px;
    padding-top:  30px;
}

.div>ul>li a img{
    height:50px;
    width: 60px;
}

 .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px  0; /* Отступы вокруг картинки */
}

.div_sturm{
    background-color: #10181B; 
    border: 1px solid #10181B; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.4), 0 0 0 rgba(0,0,0,0.4); 
}

.div>ul>li>a{
    text-decoration: none;
    color: #fff;
}

.div>ul>li>a:hover{
    color: #FF9700;
}


/* Slider */
.item{
    position: relative;
}

#slider {
    height: 400px;
    margin-bottom: 0; 
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.slider_text{
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    padding: 10px 0;
}

.slider_zag, .slider_desc{
    margin: 0;
    padding: 0 10px;
}
/*Buttoms*/

#slider button{
    position: absolute;
    top:50%;
    width: 72px;
    height: 61px;
    z-index: 1;
}

#slider button.slick-prev{
    left: 0px;
    padding-left: 25px;
    height: 0px;
}

#slider button.slick-next{
    right: 0px;
    padding-right: 25px;
    height: 0px;
}
/* Content */

#content-wrapper {
    background-color: #fff;
    background-image: url(../img/2.png) ;
    
}




#content, #sidebar {
    float: left;
}


#content {
    width: 70%;
    padding: 40px;
    padding-top:  30px;
}

#sidebar {
    width: 30%;
    padding-top: 30px;

}

/*Short Story*/


.short-story {
    max-width: 590px;
    background-color: #10181B; 
    border: 5px solid #10181B; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.4), 0 0 5px rgba(0,0,0,0.4); 
}

.short-story-title {
    padding: 12px 0;

}

.short-story-title h3 a {
    color: #e3ebf0;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.short-story-title h3 a:hover {
    text-decoration: underline;
}

.short-story-content img {
    max-width: 580px;
    margin: 6px 0;
    border-bottom: 2px solid #11161a;
    opacity: 0.5;
    transition: 0.5s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.short-story-content img:hover {
    opacity: 1;
    cursor: pointer;
}

.short-story-content {
    font-size: 16px;
}

.cal, .comm  { color: #b2bbc0; font-family: "PT Sans"; font-size: 11px; text-transform: uppercase; }

.cal {
    padding-left: 24px;
    background: url(../img/icon.png) no-repeat;
}

.comm {
    margin-left: 12px;
    padding-left: 24px;
    background: url(../img/icon.png)0 -14px;
}

.short-story-nav {
    padding-top: 12px;
}

.short-story-nav-button {
    display: block;
    float: right;
    width: 107px;
    height: 40px;
    background: url(../img/button.png) no-repeat;
}

.short-story-nav-button:hover {
    background: url(../img/button-hover.png) no-repeat;
}


/*Sidebar*/

.block {
    padding: 0 27px 0 11px;



}

.block-1-title, .block-2-title  {
    padding: 14px 12px;
    width: 248px;
    height: 50px;
    color: #c69b60;
    font-size: 18px;
    font-weight: bold;  
    text-shadow: 0.5px 0.9px 2px #0b0d0c;

}

.block-1-title {
    background: url(../img/block.png) no-repeat;
}

.block-2-title {
    background: url(../img/block.png) 0 -51px;
}

.block-content {
    padding: 12px;
    background-color: #10181B; 
    border: 5px solid #10181B; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.4), 0 0 5px rgba(0,0,0,0.4);
}

.block-content a{
    color: #E3EBF0;
    text-decoration: none;
}

.block-content a:hover{
    text-decoration: underline;
}

.block-content b {
    color: #fff;
}

.popular-news {
    margin-bottom: 12px;
}

.popular-news a {
    font-size: 16px;
    color: #E3EBF0;
    text-decoration: none;
}

.popular-news a:hover{
    text-decoration: underline;

}

.popular-news span {
    display: block;
    color: #b2bbc0;
    font-size: 12px;
}

/*End Sidebar*/
.clear {
    clear: both;
}


/* Footer */

#footer {
    background-color: #061727;
    padding: 40px;
    color: #fff;
}

